:root {
  --primary-clr: hsl(275, 100%, 97%);
  --secondary-clr: hsl(292, 16%, 49%);
  --accent-clr: hsl(292, 42%, 14%);

  --neutral-white: hsl(0, 0%, 100%);

  font-size: 16px;
  font-family: var(--family-sansserif);
  line-height: 1.25rem;
  color: var(--neutral-wengebrown);
  --family-sansserif: "Work Sans", sans-serif;
  --fweight-light: 400;
  --fweight-medium: 600;
  --fweight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
svg {
  display: block;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background: var(--primary-clr);
  header {
    img {
      @media (min-width: 768px) {
        object-fit: cover;
        height: 232px;
      }
    }
  }
}

main {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

h1,
h2,
summary {
  font-weight: var(--fweight-medium);
  text-wrap: balance;
  color: var(--accent-clr);
}

h2 {
  font-size: clamp(2rem, 0.939vw + 1.648rem, 3rem);
  margin-bottom: 2rem;
}

details {
  max-width: 70ch;
  text-wrap: pretty;
  color: var(--secondary-clr);
}

details {
  position: relative;
  margin-bottom: 20px;

}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

details > summary:before {
  content: "";
  background-image: url(assets/images/icon-plus.svg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  position: absolute;
  right: -50px;
  width: 40px;
  height: 41px;
}

details[open] summary:before {
  content: "";
  background-image: url(assets/images/icon-minus.svg);
  width: 40px;
  height: 40px;
}

.responsive-image {
  object-fit: cover;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
