:root {
  --primary-clr: hsl(275, 100%, 97%);
  --secondary-clr: hsl(292, 16%, 49%);
  --accent-clr: hsl(292, 42%, 14%);
  --icon-clr:#AD28EB;

  --neutral-white: hsl(0, 0%, 100%);

  font-size: 16px;
  font-family: var(--family-sansserif);
  line-height: 1.25rem;
  color: var(--neutral-wengebrown);
  --family-sansserif: "Work Sans", sans-serif;
  --fweight-light: 400;
  --fweight-medium: 600;
  --fweight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
svg {
  display: block;
  width: 100%;
}

h1,
h2,
summary {
  max-width: 70ch;
  font-weight: var(--fweight-medium);
  text-wrap: balance;
  color: var(--accent-clr);
}

h2 {
  font-weight: var(--fweight-bold);
  font-size: clamp(2rem, 2.817vw + 0.944rem, 3rem);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background: var(--primary-clr);
}

body > header {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100svw;
  img {
    @media (min-width: 768px) {
      object-fit: cover;
      height: 35svh;
    }
  }
}

main {
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  background: var(--neutral-white);
  border-radius: 10px;
  box-shadow: 0 4px 4px -2px var(--secondary-clr);
  width: 375px;
  padding: 3rem 1.5rem;
  gap: 1rem;

  header {
    position: static;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    img {
      max-width: clamp(1.5rem, 1.408vw + 0.972rem, 3rem);
    }
  }

  hr {
    border: 1px solid rgba(128, 128, 128, 0.137);
  }

  @media (min-width: 768px) {
    padding: 3rem 2rem 1.5rem;
    width: calc(480px + 80px);

    header {
      padding: 0 0 1rem;
    }
  }
}

details {
  text-wrap: pretty;
  color: var(--secondary-clr);
  padding: 1rem 0;

  summary {
    position: relative;
    cursor: pointer;
    &:hover {
      color: var(--icon-clr);
    }
  }
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

details > summary:before {
  content: "";
  background-image: url(assets/images/icon-plus.svg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  position: absolute;
  top: -5px;
  right: 0px;
  width: 40px;
  height: 41px;
}

details[open] {
  summary {
    padding: 0 0 1rem;
  }

  summary:before {
    content: "";
    background-image: url(assets/images/icon-minus.svg);
    width: 40px;
    height: 40px;
  }

}

.responsive-image {
  object-fit: cover;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
