:root {
  --primary-clr: hsl(14, 45%, 36%);
  --secondary-clr: hsl(332, 51%, 32%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutra-rose: hsl(330, 100%, 98%);
  --neutral-eggshell: hsl(30, 54%, 90%);
  --neutral-lightgrey: hsl(30, 18%, 87%);
  --neutral-wengebrown: hsl(30, 10%, 34%);
  --neutral-dark-charcoal: hsl(24, 5%, 18%);

  font-size: 16px;
  font-family: var(--family-sansserif);
  color: var(--neutral-wengebrown);
  --family-sansserif: "Outfit", sans-serif;
  --family-serif: "Young Serif", serif;
  --fweight-light: 400;
  --fweight-medium: 600;
  --fweight-bold: 700;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
}

article {
  max-width: 70svh;
  background-color: var(--neutral-white);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--family-serif);
  font-weight: var(--fweight-light);
  text-wrap: balance;
  margin: 1.5rem 0;
}

h1 {
  font-size: clamp(1.90rem, 5svw, 2.75rem);
  color: var(--neutral-dark-charcoal);
}

h2,
h3,
h4,
h5,
h6,
li::marker,
td {
  color: var(--primary-clr);
}

.subtitle {
  margin: 0 0 1.5rem;
}

p {
  max-width: 70ch;
  text-wrap: pretty;
}

ul,
ol {
  text-wrap: balance;
  padding: 0 2rem;
  
  li {
    padding: 0 0 .75rem 1.25rem;
  }
}

ol {
  li::marker{
    font-weight: var(--fweight-bold);
  }
}

.margin-inline {
  margin: 0 2rem;
}

aside {
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--neutra-rose);

  h3 {
    font-size: 1.1rem;
    font-family: var(--family-sansserif);
    font-weight: var(--fweight-bold);
    color: var(--secondary-clr);
    margin-top: 0;
  }

  li::marker {
    color: var(--secondary-clr);
  }
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  font-family: var(--family-sansserif);
  font-size: 0.8rem;
  letter-spacing: 1px;

  caption {
    caption-side: top;
    text-align: left;
    padding-bottom: 1rem;
  }

  th,
  td {
    border-bottom: 1px solid var(--neutral-lightgrey);
    padding: 1rem;
    text-align: left;
  }

  td {
    font-weight: var(--fweight-bold);
  }

  th {
    font-weight: var(--fweight-light);
  }

  tr:nth-last-child(1) {

    th,
    td {
      border-bottom: none;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}

@media (min-width: 575px) {

  img {
    border-radius: 20px;
  }

  article {
    margin-block: 1.5rem;
  }
}

@media (min-width: 768px) {

  body {
    background-color: var(--neutral-eggshell);
  }

  article {
    margin-block: 4rem;
    padding: 2rem;
    border-radius: 20px;
  }

  .margin-inline {
    margin: 0;
  }
}
