:root {
  --primary-red: hsl(0, 100%, 67%);
  --primary-red-rgba: rgba(255, 0, 0, 0.05);
  --primary-orangey: hsl(39, 100%, 56%);
  --primary-orangey-rgba: rgba(255, 165, 0, 0.05);
  --primary-green: hsl(166, 100%, 37%);
  --primary-green-rgba: rgba(0, 128, 0, 0.05);
  --primary-blue: hsl(234, 85%, 45%);
  --primary-blue-rgba: rgba(0, 0, 255, 0.05);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);
  --neurtal-dark-gray-blue-rgba: rgba(0, 0, 0, 0.3);

  --gradient-slate-blue: hsl(252, 100%, 67%);
  --gradient-royal-blue: hsl(241, 81%, 54%);
  --gradient-violet-blue: hsla(256, 72%, 46%, 1);
  --gradient-persian-blue: hsla(241, 72%, 46%, 0);

  --family-sansserif: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-family: var(--family-sansserif);
  line-height: 1.25rem;
  color: var(--neutral-wengebrown);
  --fweight-light: 500;
  --fweight-medium: 700;
  --fweight-bold: 800;
}

.primary-red {
  color: var(--primary-red);
}
.bg-primary-red {
  background: var(--primary-red-rgba);
}
.primary-orangey {
  color: var(--primary-orangey);
}
.bg-primary-orangey {
  background: var(--primary-orangey-rgba);
}
.primary-green {
  color: var(--primary-green);
}
.bg-primary-green {
  background: var(--primary-green-rgba);
}
.primary-blue {
  color: var(--primary-blue);
}
.bg-primary-blue {
  background: var(--primary-blue-rgba);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--family-serif);
  font-weight: var(--fweight-light);
  text-wrap: balance;
}

h3 {
  font-size: .825rem;
  font-weight: var(--fweight-bold);
  color: var(--neutral-light-lavender);
  margin-block: 1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: var(--fweight-medium);
  color: var(--neutral-white);
}

h5 {
  font-size: 1rem;
  font-weight: var(--fweight-medium);
  color: var(--neutral-dark-gray-blue);
  margin-block: 1.5rem 0;
}

h6 {
  font-size: .75rem;
  font-weight: var(--fweight-medium);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  border-radius: 0 0 30px 30px;
  background: linear-gradient(
    var(--gradient-slate-blue), 
    var(--gradient-royal-blue));
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}

img,
picture,
svg {
  display: block;
  width: 100%;
}

.list_icon {
  width: 1rem;
}

p {
  max-width: 60ch;
  text-wrap: pretty;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-wrap: balance;
  row-gap: 1rem;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;

    .list-item__label {
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    .list-item__score {
      font-size: .825rem;
      font-weight: var(--fweight-bold);
      color: var(--neutral-dark-gray-blue);

      span {
        color: var(--neurtal-dark-gray-blue-rgba);
      }
    }
  }
}

.responsive-image {
  object-fit: cover;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (min-width: 575px) {}
@media (min-width: 768px) {}
